 body {
  background-color: #ffe693;
  font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
  display: flex;
}
@media screen and (max-width: 768px) {
 .first_section {
  position: relative;
  width: 100%;
  height: 63.5vw;
}

.big_flex {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 63.5vw;
}
.first_column,
.third_column,
.second_column {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 63.5vw;
}
.first_column {
  background-image: url(../images/tryba1.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.second_column {
  background-image: url(../images/tryba2.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.third_column {
  background-image: url(../images/tryba3.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
} 
  
  @media screen and (max-width: 414px) {
  body {
  flex-direction: column; 
  

}
.first_section {
  position: relative;
  width: 100%;
  height: 50%; 
}

.big_flex {
  display: flex;
  flex-direction: column; 
  width: 100%;
  gap: 10vw; 
}

.first_column,
.third_column,
.second_column {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10vw; 
}

.first_column {
  background-image: url(../images/tryba1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 70vw; 
}

.second_column {
  background-image: url(../images/tryba2.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 70vw; 
}

.third_column {
  background-image: url(../images/tryba3.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 70vw; 
}
.start {
  width: 30vw;
  height: 30vw;
  margin-left: 2vw;
  background-color: #283F73;
  border-radius: 1vw; 
 color: white;

  line-height: 10vw; 
  font-size: 2vw;
    font-style: normal;
  top: 20vw;
} 
}