* {
  box-sizing: border-box;
}

body {
  background-color: #ffe693;
  font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
  display: flex;
}

.first_section {
  position: relative;
  width: 100%;
  height: 63.5vw;
}

.big_flex {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 63.5vw;
}
.first_column,
.third_column,
.second_column {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 63.5vw;
}
.first_column {
  background-image: url(../images/tryba1.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.second_column {
  background-image: url(../images/tryba2.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.third_column {
  background-image: url(../images/tryba3.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

 .start {
  width: 14vw;
  height: 6vw;
  margin-top: 2.2vw;
  margin-left: 0.7vw;
  background-color: #283F73;
  border-radius: 1vw; 
 color: white;
  text-align: center; 
  line-height: 6.3vw; 
  font-size: 4vw;
    font-style: normal;
} 
.one{
   width: 13vw;
   position: absolute;
  top: 13.1vw;
  left: 1.3vw;
}
.choose{
   width: 12.3vw;
   position: absolute;
  top: 9.1vw;
  left: 18.3vw;
}
.sort{
  width: 13vw;
   position: absolute;
  top: 25vw;
  left: 1.5vw;
}
.shester{
   width: 8.1vw;
   position: absolute;
  top: 41vw;
  left: 21.4vw;
}
.two{
   width: 7vw;
   position: absolute;
  top:57.5vw;
  left: 5.8vw;
}
 .raise {
  width: 9vw;
  height: 3vw;
  margin-top: 40.5vw;
  margin-left: 2vw;
  background-color: #EB679D;
  border-radius: 1vw; 
 color: white;
  text-align: center; 
  line-height: 3.5vw; 
  font-size: 2.3vw;
    font-style: normal;
} 
.three{
   width: 5vw;
   position: absolute;
  top: 56.5vw;
  left: 21.4vw;
}
.four{
   width: 5vw;
   position: absolute;
  top: 52vw;
  left: 15vw;
}
 .create {
  width: 13vw;
  height: 6vw;
  margin-top: 0.8vw ;
  margin-left: 11vw;
  background-color: #2B885C;
  border-radius: 1vw; 
 color: #283F73;
  text-align: center; 
  line-height: 1.8vw; 
  font-size: 2vw;
    font-style: normal;
} 
.five{
   width: 20vw;
   position: absolute;
  top: 33vw;
  left: 36.2vw;
}
.six{
   width: 16vw;
   position: absolute;
  top: 18.5vw;
  left: 39vw;
}
.seven{
     width: 7vw;
   position: absolute;
  top: 54.3vw;
  left: 59.3vw;
}